{layout='layouts/_html-wrapper'}

{if segment_4}
	{redirect='{segment_1}/{segment_2}/{segment_3}'}
{/if}

{exp:channel:entries channel="commissions" status="Denied|Accepted|Finished|Pending|Updated" url_title="{segment_3}"}
	{exp:member:custom_profile_data member_id="{author_id}"}
		{exp:email:contact_form user_recipients="no" recipients="{email}" charset="utf-8" return="artist/view/{member_id}"}
    {/exp:member:custom_profile_data}
    	<div class="form-group" style="background-color: white; padding: 25px; box-shadow: 5px 5px 5px grey; border-radius: 10px;">
                <h2>Message Artist...</h2>
                <h6><em>Emails may take a while to send and may end up in the artist's spam box...</em></h6>
                <p>
                    <label for="from">Your Email:</label><br />
                    <input type="text" class="form-control" id="from" name="from" size="40" maxlength="35" value="{client_email}" />
                </p>
                
                <p>
                    <label for="subject">Subject:</label><br />
                    <input type="text" class="form-control" id="subject" name="subject" size="40" value="Commission: {title} message from {first_name} {last_name}"/>
                </p>
                
                <p>
                    <label for="message">Message:</label><br />
                    <textarea id="message" class="form-control" name="message" rows="18" cols="40" placeholder="I have decided to..."></textarea>
                </p>
                
                <p>
                	<label for="attachment">Attachments:</label><br />
                    <input type="file" class="form-control" id="attachment" name="attachment"  value="{attachment}" accept=".png,.jpg,.jpeg"/>
                </p>
                
                <p>
                    <input name="submit" type='submit' value='Send Message' />
                </p>
		</div>
	{/exp:email:contact_form}
    
    {if no_results}
    	no result...
    {/if}
    
{/exp:channel:entries}