{layout="layouts/_html-wrapper"}

{!-- redirect logged in members --}
{if logged_in}{redirect='{site_url}'}{/if}

{layout:set name='title' value='Forgot Username'}
{!--
	Parameters:
    email_subject="Your Username"
    email_template="member/email-forgot-username"
 --}
<div class="row">
    <div class="col col-md-8 col-lg-6 m-auto">
        <div class="card shadow-lg">
            <div class="card-body">
                {exp:member:forgot_username_form return="home/login/forgot-username"}
                <div class="mb-3">
                    <label for="emailAddressInput" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="emailAddressInput" name="email" value="" maxlength="120" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                {/exp:member:forgot_username_form}
            </div>
            <div class="card-footer">
                <a href="{path='home/login'}">Login</a>
            </div>
        </div>
    </div>
</div>