{layout='layouts/_html-wrapper'}
{layout:set name='title' value='New Post'}

{if logged_out}
	{redirect='404'}
{/if}

{exp:channel:form channel="post" dynamic_title="[title]" unique_url_title="yes" author_only="yes" datepicker="no" include_assets="yes" include_css="no" include_jquery="no" {if segment_3 != 'new'} entry_id="{segment_3}"{/if} return="post/edit/ENTRY_ID"}
	
    {if title != ''}
        {layout:set name='title'}Edit Post: {title}{/layout:set}
        
        {layout:set:append name='breadcrumbs'}{embed="common/_member-name" member_id="{author_id}"}{/layout:set:append}
		{layout:set:append name='breadcrumbs_urls'}artist/view/{author_id}{/layout:set:append}
        
        {layout:set:append name='breadcrumbs'}Blog{/layout:set:append}
		{layout:set:append name='breadcrumbs_urls'}artist/blog/{author_id}{/layout:set:append}
        
        {layout:set:append name='breadcrumbs'}Edit Post: {title}{/layout:set:append}
		{layout:set:append name='breadcrumbs_urls'}post/edit/{entry_id}{/layout:set:append}
	{if:else}
    	{layout:set:append name='breadcrumbs'}{embed="common/_member-name" member_id="{logged_in_member_id}"}{/layout:set:append}
		{layout:set:append name='breadcrumbs_urls'}artist/view/{logged_in_member_id}{/layout:set:append}
        
        {layout:set:append name='breadcrumbs'}Blog{/layout:set:append}
		{layout:set:append name='breadcrumbs_urls'}artist/blog/{logged_in_member_id}{/layout:set:append}
        
        {layout:set:append name='breadcrumbs'}New Post{/layout:set:append}
		{layout:set:append name='breadcrumbs_urls'}post/edit/new{/layout:set:append}
    {/if}

    <div class="card shadow">
        <nav class="card-header">
            <div class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                {!-- main tab button --}
                <button class="nav-link active" id="nav-general-tab" data-bs-toggle="tab" data-bs-target="#nav-general" type="button" role="tab" aria-controls="nav-general" aria-selected="true">General</button>
                {!-- categories tab button --}
                <button class="nav-link" id="nav-categories-tab" data-bs-toggle="tab" data-bs-target="#nav-categories" type="button" role="tab" aria-controls="nav-categories" aria-selected="true">Medium</button>
                {!-- settings tab button --}
                <button class="nav-link" id="nav-settings-tab" data-bs-toggle="tab" data-bs-target="#nav-settings" type="button" role="tab" aria-controls="nav-settings" aria-selected="false">Settings</button>
            </div>
        </nav>
        <div class="card-body">
            
            <div class="tab-content" id="nav-tabContent">
                
                {!-- main tab --}
                <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                    
                    {!-- Title --}
                    <fieldset class="fieldset-required">
                        <div class="field-instruct">
                            <label for="title">Art Work Name</label>
                        </div>
                        <div class="fieldset-control">
                            <input type="text" name="title" id="title" value="{title}" maxlength="100" required>
                        </div>
                    </fieldset>
    
                    {!-- URL Title --}
                    {if url_title}
                    <fieldset class="fieldset-required">
                        <div class="field-instruct">
                            <label for="url_title">URL Title</label>
                            <em id="urlTitleHelp">No spaces. Underscores and dashes are allowed.</em>
                        </div>
                        <div class="fieldset-control">
                            <input type="text" name="url_title" id="url_title" value="{url_title}" maxlength="75" aria-describedby="urlTitleHelp" required>
                        </div>
                    </fieldset>
                    {/if}
    
                    {!-- Art Image --}
                    <fieldset class="fieldset-required">
                        <div class="field-instruct">
                            <label for="art_img">{label:art_img}</label>
                            <em id="artImageHelp">{instructions:art_img}</em>
                        </div>
                        <div class="fieldset-control">
                            {!-- <input type="text" name="art_img" id="art_img" data-value="{art_img}" value="{art_img}" aria-describedby="artImageHelp" required> --}
                            {exp:art_hub:file entry_id="{entry_id}" field_name="art_img" value="{art_img}" fluid_field="no" grid_field="no"}
                        </div>
                    </fieldset>
    
                    {!-- Art Date --}
                    <fieldset class="fieldset-required">
                        <div class="field-instruct">
                            <label for="art_date">Date Created{!-- {label:art_date} --}</label>
                            <em id="artDateHelp">{instructions:art_date}</em>
                        </div>
                        <div class="fieldset-control">
                            <input type="text" name="art_date" id="art_date" class="datepicker" value="{art_date}" aria-describedby="artDateHelp" required>
                        </div>
                    </fieldset>
    
                    {!-- Art Description --}
                    <fieldset class="fieldset-required">
                        <div class="field-instruct">
                            <label for="art_desc">{label:art_desc}</label>
                            <em id="artDescriptionHelp">{instructions:art_desc}</em>
                        </div>
                        <div class="fieldset-control">
                            <textarea id="art_desc" name="art_desc" rows="6" aria-describedby="artDescriptionHelp" required>{art_desc}</textarea>
                        </div>
                    </fieldset>


                    {!-- Display on Profile --}
                    {options:display_on_profile}
                    <div class="form-check mb-3">
                        <input type="checkbox" name="display_on_profile[]" id="display_on_profile" class="form-check-input" value="{option_value}" {checked}>
                        <label class="form-check-label" for="display_on_profile">{option_name}</label>
                    </div>
                    {/options:display_on_profile}
                </div>
    
                {!-- categories tab --}
                <div class="tab-pane fade" id="nav-categories" role="tabpanel" aria-labelledby="nav-categories-tab">
                    {!-- Categories --}
                    <div class="mb-3">
                        {category_menu}
                        <label for="category_{entry_id}">Medium:</label>
                        <select name="category[]" id="category_{entry_id}" class="form-select" multiple="multiple" aria-describedby="categoriesHelp">
                            {select_options}
                        </select>
                        {/category_menu}
                        <div id="categoriesHelp" class="form-text">Categorize this entry.</div>
                    </div>
                </div>
    
                {!-- settings tab --}
                <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
                    {!-- Date --}
                    {!-- <input type="text" name="field_id_2" value="8/9/2021 9:06 PM" rel="date-picker" data-date-format="%n/%j/%Y %g:%i %A" data-timestamp="1628564760"> --}
                    <div class="mb-3">
                        <label for="entry_date_{entry_id}" class="form-label">Date</label>
                        <input type="text" name="entry_date" id="entry_date_{entry_id}" class="form-control datepicker" value="{entry_date}" maxlength="23"  rel="date-picker" data-date-format="%n/%j/%Y %g:%i %A" aria-describedby="entryDateHelp" required>
                        <div id="entryDateHelp" class="form-text">Date of publication for this entry.</div>
                    </div>
    
                    {!-- Status --}
                    <div class="mb-3">
                        {status_menu}
                        <label for="status_{entry_id}">Status</label>
                        <select class="form-select" name="status" id="status_{entry_id}">
                            {select_options}
                        </select>
                        {/status_menu}
                    </div>
                    
                    {!-- Expiration Date --}
                    <div class="mb-3">
                        <label for="expiration_date_{entry_id}" class="form-label">Expiration Date</label>
                        <input type="text" name="expiration_date" id="expiration_date_{entry_id}" class="form-control datepicker" value="{expiration_date}" maxlength="23" aria-describedby="expirationDateHelp">
                        <div id="expirationDateHelp" class="form-text">Date this entry should expire.</div>
                    </div>
                    
                    {!-- Comment Expiration Date --}
                    <div class="mb-3">
                        <label for="comment_expiration_date_{entry_id}" class="form-label">Comment Expiration Date</label>
                        <input type="text" name="comment_expiration_date" id="comment_expiration_date_{entry_id}" class="form-control datepicker" value="{comment_expiration_date}" maxlength="23" aria-describedby="commentExpirationDateHelp">
                        <div id="commentExpirationDateHelp" class="form-text">Date comments for this entry should no longer be accepted.</div>
                    </div>
                    
                    {!-- Make Entry Sticky --}
                    {if logged_in_member_group == 1}
                    <div class="form-check mb-3">
                        <input type="checkbox" name="sticky" id="sticky_{entry_id}" class="form-check-input" value="y" {sticky}>
                        <label class="form-check-label" for="sticky_{entry_id}">Make Entry Sticky</label>
                    </div>
                    {/if}
                    
                    {!-- Allow Comments --}
                    <div class="form-check mb-3">
                        <input type="checkbox" name="allow_comments" id="allow_comments_{entry_id}" class="form-check-input" value="y" {allow_comments}>
                        <label class="form-check-label" for="allow_comments_{entry_id}">Allow Comments</label>
                    </div>
                    
                    
                </div>
            </div>
    
            {!-- Captcha --}
            {if captcha}
            <div class="mb-3">
                <label for="captcha_{entry_id}">Please enter the word you see in the image below:</label>
                {captcha}
                <input type="text" name="captcha" id="captcha_{entry_id}" value="{captcha_word}" maxlength="20">
            </div>
            {/if}
            
            {!-- Submit Button --}
            <button type="submit" class="btn btn-primary">Submit</button>
            
        </div>
    </div>

{/exp:channel:form}